@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Nanum Gothic", sans-serif;
    box-sizing: border-box;
  }
}

@layer utilities {
  .subs_button {
    @apply text-xs font-bold border border-border rounded-full w-16 h-8;
  }
  .input {
    @apply flex relative items-center p-4 border-2 border-border rounded-xl;
  }
  .input-label {
    @apply absolute top-0 left-2 pl-2 pr-2 bg-white text-txt-placeholder transform -translate-y-1/2;
  }
  .nav-bar {
    @apply flex justify-between items-center w-3/4 max-w-xl h-16 px-10 pt-4 pb-2 rounded-3xl shadow-md bg-white fixed bottom-16 left-1/2 transform -translate-x-1/2;
  }
}
